#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(178, 248, 248);
}

fieldset {
    width: 300px;
    height: 500x;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    background-color: orange;
}

hr {
    border-color: black;
}

legend {
    font-style: bold;
    font-size: large;
    color: darkblue;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    color: darkblue;
}